# Ignore macOS system files
.DS_Store
**/.DS_Store
*.DS_Store

# Ignore Jupyter checkpoints
notebooks/fossils/.ipynb_checkpoints/

# Ignore intermediate/output data
notebooks/fossils/NCBI_output/
notebooks/fossils/GBIF_output/
notebooks/fossils/leucosiidae_taxonomic_tree_df.txt

# Ignore files but allow folders with placeholders
taxonmatch/files/dictionaries/*.pkl
!taxonmatch/files/dictionaries/.placeholder
!taxonmatch/files/models/.placeholder
!taxonmatch/files/training_set/.placeholder
